html,
body {
    padding: 0px;
    margin: 0px;
    background-color: black;
    overflow: hidden;
}

div#window {
}

div#game {
    border: 1px solid white;
    /* holds 36 tiles */
    height: 1080px;
    
    /* holds 64 tiles */
    width: 1920px;
    position: absolute;
    left: -1px;
}

div#tile-container { 
    background-color: brown;
}

div#fov {
    top: -2535px;
    left: -2535px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border: 2500px solid black;
    position: absolute;
    z-index: 1;
    opacity: 0.9;
}

/* player style */
div#player {
    position: absolute;
    left: 30px;
    top: 30px;
    height: 30px;
    width: 30px;
    background-image: url('images/player/player-left.png');
    display: inline-block;
    transition-property: top, left;
    transition-duration: 0.2s;
}

div#stat-hearts {
    position: fixed;
    top: 1100px;
    left: 15px;
    float: left;
  }
  
  heart {
    width: 20px;
    height: 20px;
    position: center center;
    display: inline-block;
    background-color: red;
    margin-left: 10px;
  }
  
  heart:first-child {
      animation: beat infinite 2s;
  }
  
  @keyframes beat {
    0% {
      max-height: 10px;
      max-width: 10px;
    }
    50% {
        max-height: 25px;
        max-width: 25px;
    }
    100% {
        max-height: 10px;
        max-width: 10px;
    }
  }

/* inventory style */
div#inventory {
    height: 0px;
    width: 1920px;
    background-color: grey;
    visibility: visible;
}

div#item-area {
    position: absolute;
    left: 30px;
}

div.item-slot {
    height: 150px;
    width: 150px;
    background-color: darkgray;
    display: inline-block;
    margin: 20px 10px 20px 20px;
}

div.item-slot:hover p {
    opacity: 0.1;
}

/* enemy styles */
zombie {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url('images/enemies/zombie.png');
    height: 30px;
    width: 30px;
    display: inline-block;
}

skeleton {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url('images/enemies/skeleton.png');
    height: 30px;
    width: 30px;
    display: inline-block;
}

/* tile styles */
tile {
    height: 30px;
    width: 30px;
}
grasstile {
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url('images/tiles/floor.png');
    height: 30px;
    width: 30px;
    display: inline-block;
}

watertile {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 30px;
    background-color: grey;
    display: inline-block;
}

chesttile {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 30px;
    background-color: brown;
    display: inline-block;
}