html,
body {
    padding: 0px;
    margin: 0px;
    background-color: black;
    overflow: hidden;
}

div#window {
    position: absolute;
    top: 15px;
}

div#game {
    border: 1px solid white;
    /* holds 36 tiles */
    height: 1080px;
    
    /* holds 64 tiles */
    width: 1920px;
    position: absolute;
    left: -1px;
}

div#player {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 20px;
    width: 20px;
    background-color: red;
    display: inline-block;
    transition-property: top, left;
    transition-duration: 0.2s;
}

div#tile-container { 
    background-color: brown;
}

/* tile styles */
tile {
    height: 30px;
    width: 30px;
}
grasstile {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 30px;
    background-color: green;
    display: inline-block;
}

watertile {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 30px;
    background-color: blue;
    display: inline-block;
}
